<h1> Atividade 5 - Laboratório de Big Data</h1>
<h3><strong>Objetivo: </strong> Prever a classificação dos tipos de plantas íris baseados nas medidas das pétalas e das sépalas</h3>

<h3>Coleta de dados:</h3>
<p><strong>Caracteristicas do conjunto de dado:</strong> Multivalorados</p>
<p><strong>Atributos:</strong> Categórico e inteiro, sendo 5 atributos no total</p>
<p><strong>Tarefa Associada:</strong> Classificação</p>
<p><strong>Valores faltantes:</strong> Não </p>

In [21]:
# Importando o dataset:
import pandas as pd
dataset = pd.read_csv("http://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data")
dataset.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [27]:
# Criando previsores e classe.
previsores = dataset.iloc[:,0:4]
classe = dataset.iloc[:,4]

previsores

     5.1  3.5  1.4  0.2
0    4.9  3.0  1.4  0.2
1    4.7  3.2  1.3  0.2
2    4.6  3.1  1.5  0.2
3    5.0  3.6  1.4  0.2
4    5.4  3.9  1.7  0.4
..   ...  ...  ...  ...
144  6.7  3.0  5.2  2.3
145  6.3  2.5  5.0  1.9
146  6.5  3.0  5.2  2.0
147  6.2  3.4  5.4  2.3
148  5.9  3.0  5.1  1.8

[149 rows x 4 columns]

In [31]:
# Tratando os dados: Convertendo dados categóricos de var "classe" para núemrico com labelEncoder
from sklearn.preprocessing import LabelEncoder
label_classe = LabelEncoder()

classe = label_classe.fit_transform(classe)
classe

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [40]:
# Escalonamento dos atributos (Pré-processamento), padronização de previsores
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

previsores = scaler.fit_transform(previsores)
# Mostrando 10 previsores
print(previsores[0:10])

[[-1.1483555  -0.11805969 -1.35396443 -1.32506301]
 [-1.3905423   0.34485856 -1.41098555 -1.32506301]
 [-1.51163569  0.11339944 -1.29694332 -1.32506301]
 [-1.02726211  1.27069504 -1.35396443 -1.32506301]
 [-0.54288852  1.9650724  -1.18290109 -1.0614657 ]
 [-1.51163569  0.8077768  -1.35396443 -1.19326436]
 [-1.02726211  0.8077768  -1.29694332 -1.32506301]
 [-1.75382249 -0.34951881 -1.35396443 -1.32506301]
 [-1.1483555   0.11339944 -1.29694332 -1.45686167]
 [-0.54288852  1.50215416 -1.29694332 -1.32506301]]

In [42]:
# Treinamento, teste e classificação
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(previsores, classe, test_size = 0.5, random_state=0)

In [47]:
# Classificação
from sklearn.naive_bayes import GaussianNB
classificador = GaussianNB()

classificador.fit(x_train, y_train)
previsores = classificador.predict(x_test)

In [69]:
# Medindo o desempenho de GaussianNB
from sklearn.metrics import confusion_matrix, precision_score, accuracy_score, recall_score
# Matriz de confusão
matriz = confusion_matrix(y_test, previsores)
print("Matriz de confusão: \n", matriz)


# Acuracia
acuracia = accuracy_score(y_test,previsores)
print("\nAcurácia: ", acuracia)

# Precisão
precision = precision_score(y_test,previsores, average=None)
print("Precision: ", precision )

# Recall
recall = recall_score(y_test,previsores,average=None)
print("Recall: ", recall)

Matriz de confusão:
 [[22  0  0]
 [ 0 28  2]
 [ 0  3 20]]

Acurácia:  0.9333333333333333
Precision:  [1.         0.90322581 0.90909091]
Recall:  [1.         0.93333333 0.86956522]

In [78]:
# Aplicando RandomForest:
from sklearn.ensemble import RandomForestRegressor
# Ja importamos o train_test_split
from sklearn.metrics import mean_squared_error

nodes = RandomForestRegressor(n_estimators=50, random_state=0, n_jobs=-1)

nodes.fit(x_train, y_train)
predict_one = nodes.predict(x_test)

# Captura de erro:
# Este é valor do erro da nossa árvore.
np.sqrt(mean_squared_error(y_test, predict_one))

0.2173660507070964

Erro Default 50 n_estimators: 0.2173660507070964
Erro com 200 n_estimators: